:root {
	--primary: #ffaebc;
	--primary-hover: #f4a4b2;
	--primary-active: #e89aa8;

	--background: #f9fbff;

	--secondary: #f8f8f8;
	--secondary-hover: #e8e8e8;
	--secondary-active: #e0e0e0;

	--track: #f0f0f0;
	--track-hover: #e0e0e0;
	--scrollbar-track: #f0f0f0a0;

	--border: #b0b0b0;
	--border-hover: #808080;
	--border-active: #808080;

	--text-color-very-bright: #808080;
	--text-color-bright: #606060;
	--text-color: #444444;
}
