:root {
	--primary: hsl(350, 100%, 84%);
	--primary-hover: hsl(350, 100%, 81%);
	--primary-active: hsl(350, 100%, 78%);

	--background: #212121;

	--secondary: #363636;
	--secondary-hover: #606060;
	--secondary-active: #606060;

	--track: #363636;
	--track-hover: #404040;

	--scrollbar: #36363600;
	--scrollbar-hover: var(--secondary-active);
	--scrollbar-active: var(--secondary-active);

	--scrollbar-track: #36363600;
	--scrollbar-track-hover: #363636a0;
	--scrollbar-track-active: #363636c0;

	--border: #404040;
	--border-hover: #606060;
	--border-active: #606060;

	--text-color-brighter: #808080;
	--text-color-bright: #b0b0b0;
	--text-color: #d0d0d0;
	--text-color-dark: #f0f0f0;
}
