body {
	size: 100%;

	background: var(--background);

	color: var(--text-color);
	font-size: 1em;
	font-family: sans-serif;
	line-height: 0.8;
	text-wrap: word;
	text-align: start;
	text-valign: start;
}
