button {
	background: var(--primary);
	border-radius: 5px;

	padding: 6px;

	justify-content: center;
	align-items: center;

	font-size: 1.5em;
	color: #444444;
	text-align: center;
	text-valign: center;
}

button:hover {
	background: var(--primary-hover);
}

button:active {
	background: var(--primary-active) 0.02s;
}
