combobox {
	border-width: 1.5px;
	border-radius: 5px;
	border-color: var(--border);
	background: var(--background);

	padding: 0.5em;
	gap: 0.5em;

	align-items: stretch;

	title-border-width: 1.5px;
	title-border-radius: 5px;
	title-border-color: var(--border);
	title-background-color: var(--secondary);

	title-padding: 0.5em;
}

combobox:hover {
	title-background-color: var(--secondary) 0.05s;
}

combobox:active {
	title-background-color: var(--secondary) 0.05s;
}
