knob {
	size: 3em;
	background: var(--track);
	border-width: 0;
	color: var(--primary);

	cursor: grab;
}

knob:hover {
	background: var(--track-hover);
}

knob:active {
	background: var(--track-active);

	cursor: grabbing;
}
