slider {
	direction: horizontal;
	background: var(--track);
	color: var(--primary);
	border-radius: 0.25em;
	length: 5em;
	track-size: 0.5em;
	knob-size: 1.0em;
	knob-border-radius: 0.5em;

	cursor: pointer;
}

slider:hover {
	background: var(--track-hover);
}
