text-input {
	color: var(--text-color);
	font-family: sans-serif;
	font-size: 1.5em;
	line-height: 0.8;

	padding: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	
	border-radius: 5px;
	border-width: 1px;
	border-color: var(--border);
	placeholder-color: var(--text-color-very-bright);

	text-align: start;
	text-valign: center;
	text-wrap: none;

	cursor: text;
}

text-input:hover {
	border-color: var(--border-hover) 0.05s;
}

text-input:focus {
	border-color: var(--border-active) 0.05s;
}
