knob {
	size: 3em;
	background: #363636;
	border-width: 1px;
	border-color: #303030;
	color: #ffaebc;

	cursor: grab;
}

knob:hover {
	background: #404040;
}

knob:active {
	background: #404040;
	border-color: #242424;

	cursor: grabbing;
}
