radio {
	color: #d0d0d0;
	background-color: #363636;
	border-radius: 0.5em;
	border-width: 1.5px;
	border-color: #404040;

	size: 1em;
}

radio:hover {
	border-color: #606060 0.05s;
}

radio:active {
	border-color: #606060 0.05s;
}
