body {
	background: #0002;
}

div.top-bar {
	height: 1.8em;
	width: 100%;

	direction: row;
	justify-content: end;
}

div.top-bar button {
	width: 2.6em;
	height: 100%;

	background: #333;

	font-family: "Material Icons";
	font-size: 1.0em;
	color: #bbb;

	border-width: 0;
}

div.top-bar button.exit:hover {
	background: #b44 0.05s;
}

div.top-bar button.minimize:hover {
	background: #555 0.05s;
}

div.result-bar {
	background: #0000;
	height: 20vh;
	width: 100%;

	padding: 0.5em;

	direction: row;
	justify-content: end;
	align-items: center;
}

div.buttons.column {
	flex: 1;
	background: #404040;
}

div.buttons.row {
	flex-shrink: 1;
	width: 100%;
	direction: row;
	background: #404040;
}

button {
	flex-shrink: 1;
	width: 100%;
	height: 100%;

	border-radius: 0;
	border-width: 1px;
	border-color: #000000a0;
}

button.number {
	background-color: #a0e7e5d8;
}

button:hover.number {
	background-color: #90d7d5;
}

button:active.number {
	background-color: #80c7c5 0.02s;
}

.buttons button text {
	font-size: 2.0em;
}

text.result {
	font-size: 3em;
	text-wrap: none;
	text-align: end;
	text-valign: center;
	color: #ffffff;
}
