knob {
	size: 3em;
	background: #f0f0f0;
	border-width: 1px;
	border-color: #f8f8f8;
	color: #ffaebc;

	cursor: grab;
}

knob:hover {
	background: #e8e8e8;
}

knob:active {
	background: #e0e0e0;

	cursor: grabbing;
}
