radio {
	color: #444444;
	background-color: #f8f8f8;
	border-radius: 0.5em;
	border-width: 1.5px;
	border-color: #b0b0b0;

	size: 1em;
}

radio:hover {
	border-color: #808080 0.05s;
}

radio:active {
	border-color: #808080 0.05s;
}
